:root {
  --background-color: #ffd5a3;
  --font-color: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: url(/forest-2.jpg);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

header {
  background-color: #202c39;
  color:#f2d492;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  align-items: center;
  padding: 10px;
  margin: 40px;
  border-radius: 5px;
  min-height: 40px;
  min-width: 400px;
}

button {
  background-color: #202c39;
  color:#f2d492;
  border-radius: 10px;
  transition-duration: 0.1s;
}

button:hover {
  background-color: #455f7a;
}


.calculator-outer-layer {
  background-color: #ffc684;
  width: 30vw;
  height: 70vh;
  min-height: 400px;
  min-width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.buttons {
background-color: #202c39;
  color:#f2d492;
  display: grid;
  min-height: 40px;
  min-width: 40px;
  border: 2px solid black;
  border-radius: 15px;
  flex-grow: 1;
  margin: 10px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 20px;
  padding: 10px;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

button {
  font-size: 3rem;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  
}

.display-input {
  font-size: xx-large;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 5px;
  text-align: right;
  min-width: 400px;
  height: 75%;
  width: 90%;
  padding-right: 10px;
}

.debug-window {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: aqua;
  position: absolute;
  z-index: 2;
  width: 20vw;
  min-height: 70vh;
  min-width: 20 vw;
  left: 1px;
}

#clear-button, #equal-button{
  transition: 0.2s;
}

#clear-button:hover {
  background-color: rgb(255, 155, 155);
}

#equal-button:hover {
  background-color: rgba(1, 167, 1, 0.404);
}
